.chpurple{
    color: magenta;
    font-size: 30px ;
}
.chblack{
    color: black;
    font-size: 20px;
}

.container  {
    margin-top: 15px;
}

.carousel-item > img {
    height: 500px;
}